@import './theme.css';
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body{
	font-family: var(--primary-font);
  color: var(--primary-text-color);
	background: var(--primary-bg-color);
}